/* a simple CSS reset */
* {
  align-items: center;
  text-align: center;
  margin: 0;
  padding: 0;
  color:#4291b4;
  box-sizing:border-box;
  align-items: center;
}

h1 {
    padding: 20px 0;
    margin-bottom: 80px;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #4291b4;
}

header, footer {
    min-height: 0px;
    width: 100vw;
    background-color: ghostwhite;
}

main {
    min-height: 0px;
    background-color: #f0f0f0;
}

.sortBtn {
    margin-top: 50px;
    margin:10px;
    padding: 8px 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    transition: background-color 0.3s ease;
}


.sortBtn:hover{
background-color: rgb(212, 225, 225);
}

.staffListDisplay{
    width: 550px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 10px;
}

ul{
    list-style-type: none;
    padding: 0;
}