* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  background-color: white;
}

/* Header & Footer */
header, footer {
  background: linear-gradient(to bottom, rgba(30, 60, 114, 0.3), #2a5298);
  color: white;
  padding: 50px 40px;
  font-family: Arial, sans-serif;
  font-size: smaller;
}

/* Navbar */
nav {
  position: sticky;
  top: 0;
  padding: 15px 30px;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  background-color: #2a5298; /* Fixa cor de fundo ao rolar */
}

#navbar-container {
  padding: 0;
}

.nav-links {
  display: flex;
  gap: 25px;
  align-items: center;
  margin-left: auto; /* alinha os links à direita */
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #ffcc00;
}

/* Main */
main {
  flex: 1;
  padding: 20px;
  text-align: center;
  background-color: #f0f0f0;
}

/* Título */
main h1 {
  text-align: center;
  font-size: 40px;
  color: #004D40;
  margin-top: 40px;
}

/* Imagem */
main img {
  transition: opacity 0.5s ease;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  width: 300px;
}

/* Texto */
.intro-text {
  margin-top: 20px;
  font-size: 18px;
  color: #333;
}
